<!-- wp:group {"metadata":{"name":"Site Container"},"className":"has-ba-11-y-brown-faint-background-color","style":{"dimensions":{"minHeight":"100vh"},"spacing":{"blockGap":"0"}},"backgroundColor":"custom-brown-faint","layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
<div class="wp-block-group has-ba-11-y-brown-faint-background-color has-custom-brown-faint-background-color has-background" style="min-height:100vh"><!-- wp:group {"tagName":"header","metadata":{"name":"Sticky Header"},"style":{"spacing":{"margin":{"top":"0"},"padding":{"right":"var:preset|spacing|50","left":"var:preset|spacing|50","top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"}},"position":{"type":"sticky","top":"0px"},"border":{"bottom":{"color":"var:preset|color|custom-brown-faint","width":"1px"},"top":[],"right":[],"left":[]}},"backgroundColor":"white","layout":{"type":"constrained"}} -->
<header class="wp-block-group has-white-background-color has-background" style="border-bottom-color:var(--wp--preset--color--custom-brown-faint);border-bottom-width:1px;margin-top:0;padding-top:var(--wp--preset--spacing--50);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)"><!-- wp:template-part {"slug":"header","area":"header","align":"wide"} /--></header>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main Content"},"style":{"spacing":{"padding":{"right":"0","left":"0"},"margin":{"top":"0"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0;padding-right:0;padding-left:0"><!-- wp:group {"tagName":"section","metadata":{"name":"Banner"},"layout":{"type":"constrained"}} -->
<section class="wp-block-group"><!-- wp:group {"metadata":{"name":"Page Header"},"align":"full","style":{"spacing":{"padding":{"top":"2.75rem","bottom":"10rem","left":"0","right":"0"},"blockGap":"var:preset|spacing|20"}},"backgroundColor":"white","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull has-white-background-color has-background" style="padding-top:2.75rem;padding-right:0;padding-bottom:10rem;padding-left:0"><!-- wp:heading {"textAlign":"center","className":"has-ba-11-y-blue-medium-color","style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-blue-medium"}}}},"textColor":"custom-blue-medium"} -->
<h2 class="wp-block-heading has-text-align-center has-ba-11-y-blue-medium-color has-custom-blue-medium-color has-text-color has-link-color">Changelog</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center","style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-grey-medium"},":hover":{"color":{"text":"var:preset|color|custom-blue-medium"}}}},"typography":{"fontStyle":"italic","fontWeight":"300"}},"textColor":"custom-grey-medium","fontSize":"small"} -->
<p class="has-text-align-center has-custom-grey-medium-color has-text-color has-link-color has-small-font-size" style="font-style:italic;font-weight:300"><p class="has-text-align-center has-ba-11-y-grey-medium-color has-text-color has-link-color has-small-font-size" style="font-style:italic;font-weight:300">Keep up with news and information about the plugin.</p></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Container"},"align":"full","style":{"spacing":{"margin":{"top":"-100px"},"padding":{"right":"var:preset|spacing|50","left":"var:preset|spacing|50"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull" style="margin-top:-100px;padding-right:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)"><!-- wp:group {"metadata":{"name":"Recent Post"},"className":"has-ba-11-y-brown-pale-border-color","style":{"spacing":{"blockGap":"var:preset|spacing|40","padding":{"top":"2rem","bottom":"2rem","left":"var:preset|spacing|60","right":"var:preset|spacing|60"},"margin":{"top":"0px"}},"border":{"radius":"10px","width":"1px"}},"backgroundColor":"white","borderColor":"custom-brown-pale","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-ba-11-y-brown-pale-border-color has-border-color has-custom-brown-pale-border-color has-white-background-color has-background" style="border-width:1px;border-radius:10px;margin-top:0px;padding-top:2rem;padding-right:var(--wp--preset--spacing--60);padding-bottom:2rem;padding-left:var(--wp--preset--spacing--60)"><!-- wp:query {"queryId":9,"query":{"perPage":1,"pages":0,"offset":"0","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"metadata":{"categories":["posts"],"patternName":"core/query-grid-posts","name":"Grid"},"layout":{"type":"default"}} -->
<div class="wp-block-query"><!-- wp:paragraph {"style":{"typography":{"fontStyle":"italic","fontWeight":"200"},"elements":{"link":{"color":{"text":"var:preset|color|custom-scampi-900"}}}},"textColor":"custom-scampi-900","fontSize":"small","fontFamily":"exo-2"} -->
<p class="has-custom-scampi-900-color has-text-color has-link-color has-exo-2-font-family has-small-font-size" style="font-style:italic;font-weight:200">Recent Blog Post</p>
<!-- /wp:paragraph -->

<!-- wp:post-template {"style":{"spacing":{"blockGap":"var:preset|spacing|30"}},"layout":{"type":"default","columnCount":1,"minimumColumnWidth":null}} -->
<!-- wp:group {"metadata":{"name":"Card"},"style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"blockGap":"var:preset|spacing|20"},"border":{"radius":"8px","width":"0px","style":"none"},"dimensions":{"minHeight":"100%"}},"layout":{"inherit":false}} -->
<div class="wp-block-group" style="border-style:none;border-width:0px;border-radius:8px;min-height:100%;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:post-title {"isLink":true,"style":{"elements":{"link":{":hover":{"color":{"text":"var:preset|color|custom-brown-medium"}},"color":{"text":"var:preset|color|custom-blue-medium"}}},"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"right":"0","left":"0"}}},"textColor":"dual-tone-primary-headings","fontSize":"xx-large"} /-->

<!-- wp:group {"metadata":{"name":"Post Meta"},"style":{"spacing":{"blockGap":"10px","margin":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|50"}},"typography":{"fontStyle":"italic","fontWeight":"200","lineHeight":"1"}},"fontSize":"small","fontFamily":"exo-2","layout":{"type":"flex","flexWrap":"wrap","justifyContent":"left"}} -->
<div class="wp-block-group has-exo-2-font-family has-small-font-size" style="margin-top:var(--wp--preset--spacing--30);margin-bottom:var(--wp--preset--spacing--50);font-style:italic;font-weight:200;line-height:1"><!-- wp:group {"style":{"spacing":{"blockGap":"4px","padding":{"top":"0","bottom":"0","left":"0","right":"11px"}},"border":{"right":{"color":"var:preset|color|custom-grey-light","width":"1px"},"top":[],"bottom":[],"left":[]}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group" style="border-right-color:var(--wp--preset--color--custom-grey-light);border-right-width:1px;padding-top:0;padding-right:11px;padding-bottom:0;padding-left:0"><!-- wp:paragraph {"className":"has-ba-11-y-grey-medium-color has-text-color has-link-color","textColor":"custom-grey-medium"} -->
<p class="has-ba-11-y-grey-medium-color has-text-color has-link-color has-custom-grey-medium-color has-text-color">Published on </p>
<!-- /wp:paragraph -->

<!-- wp:post-date {"style":{"elements":{"link":{"color":{"text":"var:preset|color|dual-tone-primary-headings"},":hover":{"color":{"text":"var:preset|color|dual-tone-secondary-600"}}}}},"textColor":"custom-grey-medium"} /--></div>
<!-- /wp:group -->

<!-- wp:post-terms {"term":"category","prefix":"Categorized in ","style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-blue-medium"},":hover":{"color":{"text":"var:preset|color|custom-brown-medium"}}}}},"textColor":"custom-grey-medium"} /--></div>
<!-- /wp:group -->

<!-- wp:post-excerpt {"moreText":"","excerptLength":35,"style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-grey-headings"}}}},"textColor":"custom-grey-headings","fontSize":"large"} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","metadata":{"name":"Content"},"align":"wide","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"var:preset|spacing|50","right":"var:preset|spacing|50"},"margin":{"top":"var:preset|spacing|40"}},"border":{"radius":"8px","width":"0px","style":"none"}},"layout":{"type":"constrained"}} -->
<section class="wp-block-group alignwide" style="border-style:none;border-width:0px;border-radius:8px;margin-top:var(--wp--preset--spacing--40);padding-top:0;padding-right:var(--wp--preset--spacing--50);padding-bottom:0;padding-left:var(--wp--preset--spacing--50)"><!-- wp:query {"queryId":0,"query":{"perPage":100,"pages":0,"offset":"1","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[]},"layout":{"type":"default"}} -->
<div class="wp-block-query"><!-- wp:post-template {"style":{"spacing":{"blockGap":"var:preset|spacing|40"}},"layout":{"type":"grid","columnCount":2,"minimumColumnWidth":null}} -->
<!-- wp:group {"metadata":{"name":"Card","categories":["template-parts"],"patternName":"core/block/459"},"style":{"spacing":{"padding":{"top":"var:preset|spacing|50","right":"2rem","bottom":"var:preset|spacing|50","left":"2rem"},"blockGap":"0"},"border":{"radius":"5px","width":"1px","color":"#e9e2d8"},"dimensions":{"minHeight":"100%"}},"backgroundColor":"white","layout":{"type":"flex","orientation":"vertical","justifyContent":"left"}} -->
<div class="wp-block-group has-border-color has-white-background-color has-background" style="border-color:#e9e2d8;border-width:1px;border-radius:5px;min-height:100%;padding-top:var(--wp--preset--spacing--50);padding-right:2rem;padding-bottom:var(--wp--preset--spacing--50);padding-left:2rem"><!-- wp:group {"metadata":{"name":"Content"},"style":{"layout":{"selfStretch":"fill","flexSize":null},"spacing":{"blockGap":"var:preset|spacing|30"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:post-date {"style":{"spacing":{"margin":{"bottom":"0"}},"typography":{"fontStyle":"italic","fontWeight":"300"},"elements":{"link":{"color":{"text":"var:preset|color|dual-tone-primary-headings"},":hover":{"color":{"text":"var:preset|color|dual-tone-secondary-600"}}}}},"textColor":"custom-grey-medium","fontSize":"small"} /-->

<!-- wp:post-title {"level":3,"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-blue-medium"},":hover":{"color":{"text":"var:preset|color|custom-brown-medium"}}}},"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"bottom":"0","top":"0.3rem"}},"typography":{"fontStyle":"normal","fontWeight":"400"},"border":{"bottom":{"style":"none","width":"0px"}}},"textColor":"custom-blue-medium","fontSize":"large","fontFamily":"exo-2"} /-->

<!-- wp:post-excerpt {"excerptLength":20,"style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-grey-headings"}}}},"textColor":"custom-grey-headings","fontSize":"medium"} /--></div>
<!-- /wp:group -->

<!-- wp:post-terms {"term":"category","prefix":"Categorized in ","style":{"typography":{"fontStyle":"italic","fontWeight":"300"},"spacing":{"margin":{"top":"var:preset|spacing|50"},"padding":{"top":"0","bottom":"0","left":"0","right":"0"}},"layout":{"selfStretch":"fit","flexSize":null},"border":{"radius":"4px"},"elements":{"link":{"color":{"text":"var:preset|color|custom-blue-medium"},":hover":{"color":{"text":"var:preset|color|custom-brown-medium"}}}}},"textColor":"custom-grey-medium","fontSize":"small","fontFamily":"lato"} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template -->

<!-- wp:query-no-results {"align":"wide"} -->
<!-- wp:paragraph {"style":{"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}},"border":{"radius":"4px"}},"backgroundColor":"custom-scampi-50"} -->
<p class="has-custom-scampi-50-background-color has-background" style="border-radius:4px;padding-top:var(--wp--preset--spacing--40);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--50)"><em>Sorry, but nothing was found. Please try a search with different keywords.</em></p>
<!-- /wp:paragraph -->
<!-- /wp:query-no-results -->

<!-- wp:query-pagination {"paginationArrow":"chevron","showLabel":false,"align":"wide","style":{"typography":{"fontStyle":"normal","fontWeight":"300"},"elements":{"link":{"color":{"text":"var:preset|color|custom-blue-medium"},":hover":{"color":{"text":"var:preset|color|custom-brown-medium"}}}}},"textColor":"custom-grey-medium","fontSize":"small","fontFamily":"inter","layout":{"type":"flex","justifyContent":"center"}} -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-numbers {"fontFamily":"lato"} /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:query --></section>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:spacer {"style":{"layout":{"selfStretch":"fill","flexSize":null}}} -->
<div aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /--></div>
<!-- /wp:group -->